<!doctype html>
<html ng-app="app">
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
    <script src="http://ui-grid.info/release/ui-grid-unstable.js"></script>
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid-unstable.css" type="text/css">
    <link rel="stylesheet" href="main.css" type="text/css">
  </head>
  <body>

  <div ng-controller="MainCtrl">
    <div class="control-group">
      <input type="button" class="btn btn-small" ng-click="expandAllRows()" value="Expand All"/>
      <input type="button" class="btn btn-small" ng-click="collapseAllRows()" value="Collapse All"/>
    </div>
    <div ui-grid="gridOptions" ui-grid-pagination ui-grid-pinning ui-grid-expandable class="grid"></div>
  </div>
    <script src="app.js"></script>
  </body>
</html>